<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Lista de Empresas</title>
</head>
<body>

     {% comment %}  
          El nombre por defecto que manda la clase al template
          es el nombre de la clase en minuscula + '_list' 
     {% endcomment %}

     {% for empresa in empresa_list %}
          {% if not forloop.first %}<hr>{% endif %}
          <ul>
               <li>{{ empresa.nombre }}</li>
               <li>{{ empresa.tipo }}</li>
               <li><a href="{% url 'detalle' empresa.id %}">Saber más</a></li>
          </ul>
     {% endfor %}
</body>
</html>